html{
 background-image: url("images/moon.png");
 background-size: cover;
 background-repeat: no-repeat;

}
body{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background: rgba(30, 30, 30, 0.376);
    backdrop-filter: blur(4px);
    box-shadow:0px 0px 100px 5px  rgba(124, 126, 134, 0.608);
     border-radius: 40px;
    margin: 100px auto;
    margin-bottom: 50px;
    width: 50%;
    height: 40rem;
    text-align: center;
    font-family: "raleway";
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
}


label{
    margin-top: 10px;
    margin-bottom: auto;
    display: block;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    color: rgba(240, 248, 255, 0.69);
}
input[type="password"],input[type="email"],input[type="text"]{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    display: block;
    font-size: 29.9px;
    background-color: #ff000000;
    border-bottom:solid 1px #ccc;
    resize:vertical;
    border-radius: 10px;
    color: white;
}
input[type="submit"],input[type="reset"]{    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    display: block;
    font-size: 29.9px;
    background-color: #ff000000;
    border:solid 1px #ccc;
    resize:vertical;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.642);
}

/* a{
    /* display: inline-block;
    text-decoration: none;
    background-color: #0c2e8a;
    color: #ffffff;
    letter-spacing: 1px;
    width:  00px;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    border-color: #0c07af;
    transition: 0.7s ease;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 20px; 
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 600px;
    letter-spacing: 1px;
    font-size: 35px;

    background-color: #fbfbfb;
    border:solid 1px #ccc;
    resize:vertical;
    border-radius: 10px;
    text-align: center;
    color: black;
    margin-top: 70px;

}*/

  /* And finally, for even smaller screens (like mobile screens for instance). */
  
  @media (max-width:300px){

    body{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        background: rgba(30, 30, 30, 0.376);
        backdrop-filter: blur(4px);
        box-shadow:0px 0px 100px 5px  rgba(124, 126, 134, 0.608);
        border-radius: 40px;
        margin: 100px auto;
        margin-bottom: 50px;
        width: 50%;
        height: 50rem;
        text-align: center;
        font-family: "raleway";
        max-width: 100px;
        padding: 20px;
        border-radius: 10px;
    }
    label{
        margin-top: 10px;
        margin-bottom: auto;
        display: block;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        margin: 5px;
        color: rgba(240, 248, 255, 0.69);
    }
  
  }
